@import url(./reset.css);
@import url(./nav.css);
@import url(./section.css);
@import url(./aside.css);
@import url(./article.css);

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

html {
  font-size: 62.5%;
  font-family: Inter;
}

main {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 4rem;
}
