section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.banner img {
  width: 100%;
  max-width: 68rem;
}

.info-case {
  width: 100%;
  max-width: 70rem;
  display: flex;
  margin-top: 2rem;
}
.info-case div h1 {
  width: 100%;
  max-width: 30rem;
  font-size: 5rem;
  font-weight: 800;
  color: var(--Very-dark-blue);
  margin-right: 4rem;
}

.info-case div p {
  width: 100%;
  max-width: 30rem;
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: var(--Dark-grayish-blue);
}

.info-case div button {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  border: none;
  padding: 1.4rem 3rem 1.4rem;
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  margin-top: 3rem;
}
.info-case div button:hover {
  background-color: var(--Soft-red);
  cursor: pointer;
  transition: 0.3s;
}
